h1 {
	text-align: center;
	margin: 30px;
}
label {
	margin: 4px;
}
main {
	width: 70%;
	margin: 30px auto;
	min-width: 700px;
	padding: 20px;
}
legend.ready {
	font-size: 20px;
}

.inp-name-group {
	font-size: 16px;
	padding: 3px;
}
.inp-name-elem {
	width: 100%;
	font-size: 14px;
	padding: 2px;
	margin: 10px;
}
[name=selType] {
	width: 100px;
}
fieldset {
	position: relative;
	padding-top: 20px;
	margin-bottom: 15px;
	background-color: #f9f9f9;
}
.btn-add-new-f {
	position: absolute;
	top: 65px;
	right: 25px;
}
.btn-add-new-g {
	position: absolute;
	bottom: -50px;
	right: 25px;
}
.field-container {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	width: 60%;
}
.field-container label {
	width: auto;
}
.hidden {
	display: none;
}

#checkboxradio, .datepicker {
	padding: 20px 10px 50px 10px;
	margin-bottom: 30px;
	border: 1px dashed silver;
	border-radius: 5px;
}
h3 {
	margin-top: 0;
	color: silver;
	text-align: right;
}

.datepicker {
	overflow: auto;
}

.datepicker fieldset {
	width: 70%;
	min-width: 600px;
	margin: 10px auto 50px auto;

}
.datepicker fieldset label {
	display: inline-block;
}
.ui-selectmenu-button {
	margin: 4px;
}
#datepicker {
	margin: 0 40px;
}
